[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
django-cors-headers = "*"
psycopg2-binary = "*"

[dev-packages]
coverage = "*"
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.9"
